<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="layout_top_page_container">
        <nav data-role="Header" class="main-page-navbar"/>
            <div class="main-page-left-side">
                <h1>Terra Europe Hospital </h1>
            </div>
            <div class="main-page-right-side">
                <div class="main-page-links-container">

                    <span class="main-page-text"><a href="/">Home</a></span>
                    <div data-thq="thq-dropdown" class="home-thq-dropdown list-item">
                        <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle-main">
                            <span class="home-text">Departments</span>
                            <div data-thq="thq-dropdown-arrow" class="home-dropdown-arrow">
                                <svg viewBox="0 0 1024 1024" class="home-icon">
                                    <path d="M426 726v-428l214 214z"></path>
                                </svg>
                            </div>
                        </div>
                        <ul data-thq="thq-dropdown-list" class="home-dropdown-list">
                            <li data-thq="thq-dropdown" class="home-dropdown list-item">
                                <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle-option">
                                    <span class="home-text">Cardiology</span>
                                </div>
                            </li>
                            <li data-thq="thq-dropdown" class="home-dropdown list-item">
                                <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle-option">
                                    <span class="home-text">Orthopedics</span>
                                </div>
                            </li>
                            <li data-thq="thq-dropdown" class="home-dropdown list-item">
                                <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle-option">
                                    <span class="home-text">Obstetrics and Gynecology</span>
                                </div>
                            </li>
                            <li data-thq="thq-dropdown" class="home-dropdown list-item">
                                <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle-option">
                                    <span class="home-text">Dermatology</span>
                                </div>
                            </li>
                            <li data-thq="thq-dropdown" class="home-dropdown list-item">
                                <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle-option">
                                    <span class="home-text">Neurology</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <span class="main-page-text"> <a href="/Home/About">About Us</a></span>
                    <span class="main-page-text"> <a href="/Home/Contact">Contact Us</a></span>
                </div>
                <div class="button-container ">
                    <button class="button-inner" onclick="location.href='@Url.Action("Login","security")'"> Sign in</button>
                </div>
                <button class="button-inner" onclick="location.href='@Url.Action("login","Create")'"> Sign up</button>
                </div>
            </div>

        <nav/>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer class="footer">
                <div class="footer-container">
                    <div class="main-page-footer">
                        <div class="footer-menu">
                            <h1>Terra Europe </h1>
                            <div class="footer-links-container">
                                <div class="main-page-container1">
                                    <a href="https://example.com" target="_blank" rel="noreferrer noopener"
                                       class="main-page-link01">
                                        Health Packages
                                    </a>
                                    <a href="https://example.com" target="_blank" rel="noreferrer noopener"
                                       class="main-page-link01">
                                        Emergency Services
                                    </a>
                                    <a href="https://example.com" target="_blank" rel="noreferrer noopener"
                                       class="main-page-link01">
                                        Patient Care Excellence
                                    </a>
                                    <a href="https://example.com" target="_blank" rel="noreferrer noopener"
                                       class="main-page-link01">
                                        Wellness Programs
                                    </a>
                                </div>
                                <div class="main-page-container2">
                                    <a href="/Home/About" target="_blank" rel="noreferrer noopener"
                                       class="main-page-link01">
                                        About Us
                                    </a>
                                    <a href="https://example.com" target="_blank" rel="noreferrer noopener"
                                       class="main-page-link01">
                                        FAQ
                                    </a>
                                    <a href="https://example.com" target="_blank" rel="noreferrer noopener"
                                       class="main-page-link01">
                                        Terms and conditions
                                    </a>
                                    <a href="/Home/Contact" target="_blank" rel="noreferrer noopener"
                                       class="main-page-link01">
                                        Contact Us
                                    </a>
                                </div>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        @RenderSection("scripts", required: false)
    <div/>
</body>

</html>
