﻿@model IEnumerable<Hospital.Models.database.patient>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "zurt";
}
<style>
    .dashboard-left {
        border: 1px solid black;
        float: left;
        float: left;
        flex: 20%;
        flex-direction: column;
        height: 1000px;
        width: auto;
        background-color: rgb(103, 189, 189);
        display: flex;
    }

    .dashboard-right {
        flex: 80%;
        flex-direction: column;
        float: right;
        height: auto;
        width: auto;
        background-color: rgba(153,203,255,0.5);
        height: 1000px;
    }
    .dashboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content:flex-start
}
   
</style>
<body>
    <div class="dashboard-container">
        <div class="dashboard-left">
            <div class="dashboard-left-top">
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar" width="50" height="50" />
                <div id="doctor-info">

                    <div class="button-container ">
                        <button class="button-inner" onclick="location.href='@Url.Action("Index","Home")'"> Log Out</button>
                    </div>
                </div>
            </div>
            <div class="dashboard-left-bottom">
                <div class="button-container ">
                    <button class="button-inner" onclick="location.href='@Url.Action("patientAppointments","patient")'"> Edit Appointments</button>
                </div>                                                                
                <br /><br />                                                          
                <div class="button-container ">                                       
                    <button class="button-inner" onclick="location.href='@Url.Action("patientDashboard","patient")'">Edit Patient Information</button>
                </div>
                <br /><br />
                <div class="button-container ">
                    <button class="button-inner" onclick="location.href='@Url.Action("Index","Home")'"> Log Out</button>
                    <button class="button-inner" onclick="location.href='@Url.Action("adminDashboardDoctor","Home")'"> Edit Doctors</button>
                </div>
                <br /><br />
                </div>
            </div>
        <div class="dashboard-right">right</div>
        </div>
</body>