@model Hospital.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null; // Set the layout to null
}

<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        background: url('/resources/blur-hospital.jpg') no-repeat center center fixed;
        background-size: cover;
    }

    main {
        width: 400px;
        background: rgba(65, 157, 178, 0.5); /* Adjust the alpha value for the desired blur effect */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    h2 {
        text-align: center;
    }

    form {
        margin-top: 20px;
        text-align: center; /* Center the form content */
    }

    .text-danger {
        color: #ff0000;
    }
</style>

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>

        <br />

        <div>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>

        <br />

        <div>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>

        <br />

        <div>
            <input type="submit" value="Register" class="btn btn-outline-dark" />
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
