@model IEnumerable<WebProject.Models.doctor>

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<head>
    <title>Doctorpage</title>>
    <link rel="stylesheet" href="~/Content/style.css">
    <script src="script.js" defer></script>
</head>

<div class="dashboard-container">
        <div class="dashboard-left">
            <div class="dashboard-left-top">
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar" width="50" height="50">

                <div id="doctor-info">
                    <script>
                        var doctorname = "Dr. Baris Can Kara"; //placeholder
                        var patientname = "Patient";
                        var elementdashboard = document.getElementById("doctor-info");
                        elementdashboard.innerHTML = "Welcome " + doctorname + "!";
                    </script>
                    <br /><span>example@email.com</span>

                    <div class="button-container ">
                        <button class="button-inner" onclick="location.href='@Url.Action("Index","Home")'"> Log Out</button>
                    </div>
                </div>
            </div>
            <div class="dashboard-left-bottom">
                <div class="button-container ">
                    <button class="button-inner" onclick="location.href='@Url.Action("Index","Home")'"> My information</button>
                </div>
                <div class="button-container ">
                    <button class="button-inner" onclick="location.href='@Url.Action("Index","Home")'"> Patient information</button>
                </div>
                <div class="button-container ">
                    <button class="button-inner" onclick="location.href='@Url.Action("Index","Home")'"> My Appointments</button>
                </div>
                <div class="button-container ">
                    <button class="button-inner" onclick="location.href='@Url.Action("Index","Home")'"> Return to Home page</button>
                </div>
            </div>
        </div>
        <div class="dashboard-right">
            <div class="dashboard-right-top">
                dashboard-right-top
            </div>
            <div class="dashboard-right-bottom">
                <div class="calendar-container">
                    <iframe src="https://calendar.google.com/calendar/embed?src=tr.turkish%23holiday%40group.v.calendar.google.com&ctz=Europe%2FIstanbul" style="border: 0" width="600" height="500" frameborder="1" scrolling="no">
                    </iframe>
                </div>
            </div>
            <p>dashboard-right</p>
        </div>
</div>
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hospital)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th></th>
    </tr>*@

@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hospital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.doctorID }) |
                @Html.ActionLink("Details", "Details", new { id=item.doctorID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.doctorID })
            </td>
        </tr>
    }*@

@*</table>*@
