@model IEnumerable<WebProject.Models.Admin>

@{
    ViewBag.Title = "Index";
}
<style>
    .layout_top_page_container {
        width: 100%;
        height: 1000px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-size: cover;
        background-image: url("../../FrontEnd/resources/contactUsBackground3.jpg");
        background-position: 0 40%;
    }
</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.adminID }) |
            @Html.ActionLink("Details", "Details", new { id=item.adminID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.adminID })
        </td>
    </tr>
}

</table>
