
@model IEnumerable<Hospital.Models.database.appointment>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "zort";
}

<style>
    .dashboard-left {
        border: 1px solid black;
        float: left;
        float: left;
        flex: 20%;
        flex-direction: column;
        height: 1000px;
        width: auto;
        background-color: rgb(103, 189, 189);
        display: flex;
    }

    .dashboard-right {
        flex: 80%;
        flex-direction: column;
        float: right;
        height: auto;
        width: auto;
        background-color: rgba(153,203,255,0.5);
        height: 1000px;
    }
    table {
        border: 3px solid black;
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: lightblue;
    }

    tr:nth-child(odd) {
        background-color: lightgray;
    }
</style>
<body>


    <div class="dashboard-right">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.doctorID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.patientID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.hospitalName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.doctorID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.patientID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hospitalName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.appointmentID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.appointmentID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.appointmentID })
                    </td>
                </tr>
            }

        </table>
    </div>
    </div>
</body>



