<style>
    .layout_top_page_container {
        width: 100%;
        height: 1000px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-size: cover;
        background-image: url("../../resources/main_page_background.jpg");
        background-position: 0 40%;
    }
</style>


<body>
    <div>
        @if (Model.doctor != null)
        {
            @Html.ActionLink("Go to your dashboard", "dashboard", "doctor", new { area = "Doctor" }, new { @class = "btn btn-default" })
        }
        @if (Model.patient != null)
        {
            @Html.ActionLink("Go to your dashboard", "index", "patient", new { area = "Patient" }, new { @class = "btn btn-default" })
            
        }


        <dl class="dl-horizontal">
            <div style="display: flex; flex-direction: row; align-items: center; ">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.account.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
            </div>
            <div style="display: flex; flex-direction: row; align-items: center; ">
                <dt>External Logins:</dt>
                <dd>
                    @Model.account.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </dd>
            </div>
        </dl>
    </div>

</body>