@model Hospital.Models.database.appointment

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>appointment</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.doctorID, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div id="departmentForm">
        <select id="departmentSelect" onchange="getDoctors()">
            <option value="">Select a department</option>
            <option value="Neurology">Neurology</option>
            <option value="Cardiology">Cardiology</option>
            <option value="Oncology">Oncology</option>
            <option value="Gynecology">Gynecology</option>
            <option value="Pediatrics">Pediatrics</option>
            <option value="Orthopedics">Orthopedics</option>
            <option value="Dermatology">Dermatology</option>
        </select>
        <input type="hidden" id="Department" name="Department" value="" />
    </div>
    <div id="doctorForm" style="display: none;">
        <select id="doctorSelect" onclick="getBusyDates()">
            <option value="-1">Select a Doctor</option>
        </select>
        <input type="hidden" id="doctorID" name="doctorID" value="mdoel.doctorID" />
    </div>
    <div id="dateForm" style="display: none">
        <select id="dateSelect" onclick="getAllDetails()" onselect="getDoctorById()" onchange="updateHiddenDate()">
        </select>
        <input type="hidden" id="Date" name="Date" value="model.date" />
    </div>
    <button id="ConfirmApplication" onclick="ConfirmApplication()">Confirm</button>

</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function updateHiddenDate() {
        var selectedDate = document.getElementById('dateSelect').value;
        document.getElementById('Date').value = selectedDate;
    }
    function ConfirmApplication() {
        var department = $('#departmentSelect').val();
        var datetime2val = $('#dateSelect').val();
        var doctorid = $('#doctorSelect').val();
        var doctor = $('#doctorSelect option:selected').text();
        if (department && date && doctorid != -1) {
            $.ajax({
                url: '@Url.Action("Laaaaaaan", "appointment")',
                type: 'POST',
                data: { val1: $('#doctorSelect').val(), val2: $('#dateSelect').val() },
                success: function (data) {
                    window.location.href = '@Url.Action("Index", "Appointment")';
                }
            });
            return Json(appointment, JsonRequestBehavior.AllowGet);
        }
    }

    function getAllDetails() {
        var department = $('#departmentSelect').val();
        var date = $('#dateSelect option:selected').text();
        var doctorid = $('#doctorSelect').val();
        var doctor = $('#doctorSelect option:selected').text();
        if (department && date && doctorid != -1) {
            document.getElementById("showDetails").innerHTML = "You have selected <br> Department: " + department + "<br> Doctor: " + doctor + "<br> Date: " + date;
            $('#ConfirmApplication').show();
            $('#showDetails').show();
        }
        else {
            $('#showDetails').hide();
        }
    }
    function getBusyDates() {
        var doctorId = $('#doctorSelect').val();
        if (doctorId) {
            $.ajax({
                url: '@Url.Action("GetNotBusyDates", "Home")',
                type: 'GET',
                data: { doctorId: doctorId },
                success: function (data) {
                    $('#dateSelect').empty();
                    $.each(data, function (i, item) {
                        $('#dateSelect').append($('<option>', {
                            //item is dateTime
                            value: item.Value,
                            text: item.Text
                        }));
                    });
                    $('#dateForm').show();
                }
            });
        } else {
            $('#dateForm').hide();
        }
    }
    function getDoctors() {
        var departmentId = $('#departmentSelect').val();
        if (departmentId) {
            $.ajax({
                url: '@Url.Action("GetDoctors", "Home")',
                type: 'GET',
                data: { departmentId: departmentId },
                success: function (data) {
                    $('#doctorSelect').empty();
                    $('#doctorSelect').append($('<option>', {
                        value: -1,
                        text: "Select a Doctor"
                    }));
                    $.each(data, function (i, item) {
                        $('#doctorSelect').append($('<option>', {
                            value: item.Value,
                            text : item.Text
                        }));
                    });
                    $('#doctorForm').show();
                }
            });
        } else {
            $('#doctorForm').hide();
        }
    }
</script>