@model Hospital.Models.database.appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hospitalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hospitalName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.appointmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
